@font-face {
	font-family: 'Rubik';
	src:
		url(../fonts/Rubik-Regular.ttf) format('truetype'),
		url(../fonts/Rubik-Regular.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src:
		url(../fonts/Rubik-Medium.ttf) format('truetype'),
		url(../fonts/Rubik-Medium.woff2) format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src:
		url(../fonts/Rubik-Bold.ttf) format('truetype'),
		url(../fonts/Rubik-Bold.woff2) format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
